// ============================
// BREAKPOINTS
// ============================
$bp-mobile:     480px;
$bp-tablet:     768px;
$bp-desktop:    1024px;
$bp-desktop-xl: 1440px;

// ============================
// COLORES
// ============================
$color-primary:   #949494;
$color-secondary: #403C39;
$color-terciary:  #F38160;

// ============================
// FUENTES
// ============================
$font-principal: "Montserrat", sans-serif;
$font-secondary:"Poppins", sans-serif;

// ============================
// TAMAÑO-FUENTES
// ============================
$font-size-small:18px;
$font-size-medium:24px;
$font-size-large:80px;

